{{define "controller"}} 
	
	
     <div class="ui grid" id="vertMenu" style="margin-top:0.1em; margin-left:0em; margin-right:0em; !important">
        <div class="two row column" style="width:100%!important">
        <div class="column" style="width:30%">
          <i class="address book icon" id="rightMenuIcons" onclick="createNotebook()"></i>
          <i class="remove icon" id="rightMenuIcons" onclick="Delete()"></i>
          <i class="edit icon" id="rightMenuIcons" onclick="Update()"></i>
        </div>
        <div class="column" style="width:70%">
      
                  <form id="notebooks">
                    
                  </form>
                  




                 


        </div>       
        </div>        
            




    </div>        		
  
            		
{{end}}