{{define "home"}}
	
			

				
				
						
    <div class="ui vertical stripe segment" id="homePage">
    <div class="ui middle aligned stackable grid container" style = "background-color: #FFFFFF; margin-top: 1.5em;" >
      <div class="row">
        <div class="eight wide column" style="margin-left:auto; margin-right:auto;">
         <div class="ui text container" id="textContainerInRowHome" >
          <h3 class="ui header"> Lorem ipsum dolor sit amet.</h3>
			<p>
      Consectetur adipiscing elit. Sed ut odio sit amet purus rutrum lobortis. Duis placerat iaculis eleifend. Sed sed odio nibh. Donec pharetra, dolor sit amet semper sodales, risus ipsum molestie eros, et lacinia neque orci nec quam. Donec eu ullamcorper ex. Maecenas sit amet nisi augue. Maecenas id egestas diam. Sed et accumsan odio. Nulla sit amet vulputate dui. Vestibulum sed justo a quam porta tincidunt. Proin commodo fringilla interdum. Vivamus convallis, massa ac euismod luctus, elit mi elementum justo, vitae dictum sapien purus at risus. Duis cursus ornare arcu, eu viverra nunc auctor ut. Nulla sagittis non nulla pellentesque tempor.


      </p>         
	 	  <h3 class="ui header">Nullam condimentum egestas nibh</h3>
         <p>A viverra. Donec hendrerit leo ut sem iaculis malesuada. Vivamus venenatis ac mauris quis posuere. Vestibulum non nulla sed arcu elementum fringilla. Vestibulum tempus mollis sem pharetra porta. Donec ornare nulla ut eros feugiat, et imperdiet erat ullamcorper. Mauris lacinia accumsan justo, sit amet tincidunt massa. Quisque interdum sit amet sem eu scelerisque. Donec efficitur posuere blandit. Curabitur vitae cursus arcu. Vestibulum congue cursus nulla, et sollicitudin justo vulputate consectetur. Nam pharetra vel ipsum id mollis. Phasellus a accumsan dui. Duis sagittis in risus ut feugiat.</p>
        </div>
        </div>
        <div class="eight wide  column" style="margin-left:auto; margin-right:auto;">
         <div class="ui text container " id="textContainerInRowHome">
          <img src="static/assets/images/simple_task_manager_icon_by_damoxy-daizoqg.png" class="ui bordered rounded image">
            <p>Proin laoreet blandit libero, eu rutrum erat porta a. Nulla in orci ex. Nullam dictum elementum congue. Praesent vitae tincidunt velit. Quisque dui est, bibendum eu rhoncus at, posuere nec ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sit amet libero fermentum, molestie lacus vitae, ullamcorper tellus. Cras eu faucibus felis. Donec volutpat vulputate quam id varius. Sed quis rhoncus erat. Nunc vulputate id elit vitae tempus. Curabitur eu euismod felis, id faucibus ipsum. Donec sed lacus ut magna sagittis pharetra imperdiet dapibus nisl. Proin condimentum sem vel turpis porttitor ultricies. Curabitur molestie id nibh eu euismod. Aenean quis dui nunc.</p>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
          <div class="ui text container" style="background-color: #FFFFFF;">
            <h3 class="ui header">Cras cursus eu eros</h3>
            <p>Et fringilla. Nulla dapibus odio nec dui aliquam, in egestas lectus mattis. Suspendisse potenti. Vestibulum ut ligula mauris. Maecenas efficitur eget orci malesuada elementum. Morbi a euismod sem. Integer eget velit massa. Cras ligula purus, dictum sit amet bibendum quis, aliquet non augue. Sed molestie, odio sit amet dictum imperdiet, justo augue tincidunt dolor, sed condimentum tortor lorem quis odio.</p>
            <a class="ui large button">Read More</a>
            <h4 class="ui horizontal header divider">
              <a href="#">Case Studies</a>
            </h4>
            <h3 class="ui header">Pellentesque ac libero justo.</h3>
            <p>Pellentesque non vestibulum neque, eu scelerisque mi. Etiam risus magna, pulvinar vel ultricies nec, vehicula non odio. Vivamus varius lacus ex, nec posuere ipsum tincidunt quis. Fusce luctus nisi nec odio dictum, vitae euismod mi dapibus. Donec sed convallis urna. Nunc cursus augue eget purus vestibulum, id elementum erat cursus. Nam sagittis felis nisi, vehicula pharetra libero sollicitudin in. Etiam pharetra enim elit, ut eleifend libero gravida lacinia.</p>
            <a class="ui large button" style="margin-bottom: 1em;">I'm Still Quite Interested</a>
          </div>


    </div>
  </div>


  

  

<div class="ui inverted vertical footer segment" style="margin-top: 1.5em; background-color: #000000;"   ><!-- style="margin: 0 3.5em 0 3.5em;" -->
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
</div>

{{end}}