{{define "tasks"}}

<html>
<head>
 {{template "header"}} 
</head>
<body>

  {{template "masthead" .}}



 

	<div id="marginWrapper" >  <!-- style="margin: 0 3.5em 0 3.5em" -->
	   
	
           <!--  <div id="navbar" class="ui compact menu item seven inverted stackable">
            	<a class="item" href="/">Home</a>
            	<a class="item" href="contact">Documentation</a>
                <a class="item" href="contact">Tasks</a>
                <a class="item" href="contact">Contact</a>
            </div> -->

        <div class="ui vertical stripe segment" >
         <div class="ui middle aligned stackable grid container" style = "background-color: #FFFFFF;" >

         		<div id="navbar" class="ui compact menu item seven inverted stackable">
            	<a class="item" href="/taskmanager/all">ALL</a>
            	<a class=" active item" href="/taskmanager/tasks">TASKS</a>
              <a class="item" href="/taskmanager/notes">NOTES</a>
              <a class="item" href="/taskmanager/get">GET</a>
              <a class="item" href="/taskmanager/create">CREATE</a>
              <a class="item" href="/taskmanager/update">UPDATE</a>
              <a class="item" href="/taskmanager/delete">DELETE</a>                
            </div>








            <div class="row" >
            	<div class=" colum" style="border-style: outset;border-width: 1px">
            		<div class="ui vertical menu"  id="vertMenu" style="width: 20rem !important;">
                 
                  <div class="item">
                    <h3 class="ui header">TASKS</h3><hr/>
                    
                        <a class="item" onclick="getTasks()">
                        <h6 class="ui header">Get all tasks</h6>
                         <p>Check out our new promotions</p>
                        </a>
                        <a class="item" onclick="getTaskByUser()">
                          <h6 class="ui header">Get task by USER</h6>
                          <p>Check out our collection of coupons</p>
                        </a>
                        <a class="item" onclick="createTask()">
                          <h6 class="ui header">Create task</h6>
                          <p>Visit our rebate forum for information on claiming rebates</p>
                        </a>
                         <a class="item" onclick="updateTask()">
                          <h6 class="ui header">Update task</h6>
                          <p>Visit our rebate forum for information on claiming rebates</p>
                        </a>
                        <a class="item" onclick="getTasksByID()">
                          <h6 class="ui header">Get task by ID</h6>
                         <!--  <form method="get" action="your controller here!">
                          <input id="myinput" type="hidden" value="xxx" name="myname" />
                             <submit type="submit"/> 
                          </form> -->
                          <p>Visit our rebate forum for information on claiming rebates</p>
                        </a>
                        <a class="item" onclick="deleteTaskByID()">
                          <h6 class="ui header">Delete task</h6>
                          <p>Visit our rebate forum for information on claiming rebates</p>
                        </a>
                   
                  </div>


                      


            	  </div>
              </div>
            		
            		
            		 <div class="ui text container" id="textContainerInRow">
               		<div id="task">

                  </div>
  					
 					       </div>
            		
        	</div>
        </div>

        </div>

           
    </div>



</body>
</html>
  {{end}}
