{{define "updateNote"}}



<html>
<head>
 {{template "header" }}
<script src="http://cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script>
<link href="/static/css/sdk-inline.css" rel="stylesheet">
</head>
<body>
      {{template "masthead" .}}

   <div id="marginWrapper" >  <!-- style="margin: 0 3.5em 0 3.5em" -->
     
  

        <div class="ui vertical stripe segment" >
          <div class="ui middle aligned stackable grid container" style = "background-color: #FFFFFF;" >

            







              <div class="row" >
                
                  <div id="navbar" class="ui compact menu item five inverted stackable">
                  <a class="item" onclick="getUserNotebook()">NOTEBOOKS</a>
                  <a class="item" onclick="getUserNotes()">NOTES</a>
                  <a class="item" href="/taskmanager/tasks">INFO</a>
                  <a class="item" href="/taskmanager/notes">SUPPORT</a>
                  <a class="item" href="/taskmanager/notes">LOGOUT</a>
                
                  </div>
              
                  {{template "controller" .}}
                
                 <div class="ui text container" id="#textContainerInRow">
                 
                        

                        <form class="ui large form"  id="updateNoteForm">
                        <div class="ui large form segment" style="margin: 2em 3.5em 0 3.5em">
                        
                         <div  id="filed" class="field">
                            <label>Name</label>
                            <div class="ui left labeled icon input">
                              <input  type="text" name="name">
                              
                              <div class="ui corner label">
                               
                              </div>
                            </div>
                          </div>

                          <div  id="filed" class="field">
                            <label>Description</label>
                            <div class="ui left labeled icon input">
                              <input  type="text" name="description">
                              
                              <div class="ui corner label">
                               
                              </div>
                            </div>
                          </div>

                           <div  id="filed" class="field">
                            <label>Content</label>
                           <div id = "introduction">
                             
                           </div>
                          </div>
                          
                          
                          <!--<div class="ui error message">
                            <div class="header">We noticed some issues</div>
                          </div>
                          -->
                           <input type="submit" class="ui button" value="Update" style="margin-top:0.5em;" />
                         </div>
                        
                        </form>
            



                  
            
                 </div>
                
          </div>
        </div>

        </div>

           
    </div>

<script src="/static/js/updateNote.js"></script>

</body>
</html>
  {{end}}


               		

             
 

